# run every two minutes for testing
SHELL=/bin/sh
*/30 * * * *       git -C $HOME/Spacemonkey/Documents/todos diff --exit-code --quiet || git -C $HOME/Spacemonkey/Documents/todos commit --all -m "autocommit"


## commands

## to edit cronfile
# sudo crontab -l
## http://stackoverflow.com/questions/882016/how-to-run-shell-script-in-mac-os-x-everyday-or-set-a-timing

## to startup a new cronfile
## to be on the safeside:
# export EDITOR=nvim

# sudo crontab -e
    ## in vim, need to set
    # :set nobackup nowritebackup
## http://calebthompson.io/crontab-and-vim-sitting-in-a-tree/
## http://superuser.com/questions/359580/error-adding-cronjobs-in-mac-os-x-lion


## log here: http://superuser.com/questions/134864/log-of-cron-actions-on-os-x
## vim /var/log/cron.log
